
        <script>
            var dragitem = undefined;
            
            function setdragitem(item, event) {
                dragitem = item;
                // alert('item: '+item);
                // item is an HTML DIV element.
                // event is an event.
                
                // If the item should not be draggable, enable this next line.
                // event.preventDefault();
                
                return true;
            };
            function cleardragitem() {
                dragitem = undefined;
                // alert('item: '+item);
            };
            function dodrag() {
                // alert('item: '+dragitem);
            };
            
            // This is required---used to tell WebKit that the drag should
            // be allowed.
            function handledragenter(element, event) {
                event.preventDefault();
                return true;
            };
            function handledragover(element, event) {
                event.preventDefault();
                return true;
            };
            
            
            function handledragleave(element, event) {

            };
            
            function handledrop(element, event) {
                // alert('drop');
                dragitem.style.display="none";
                var newid=dragitem.id + '_dest';
                var dest = document.getElementById(newid);
                dest.innerHTML = dragitem.innerHTML;
            };
        </script>