/*
 *  a div to hold raster images
 *  hides them from view
 */
#rasters {
  visibility: hidden;
}

/*
 *  container div for text (season to taste)
 */
#text-container {
  position: absolute;
  width: 100%;
  top: 70px;
  margin: 0 35px 0 35px;
  padding: 0px;
  white-space: nowrap;
  z-index: 200;
}

/*
 *  container div for instructions/notes
 */
#manual {
  position: absolute;
  width: 100%;
  bottom: 70px;
  margin: 0 35px 0 35px;
  padding: 0px;
  white-space: nowrap;
  z-index: 200;
  font-weight: normal;
  /*color: rgba(0,0,0, 0.6);*/
}

/*
 *  TODO: entertain notion to switch to https://code.google.com/p/dat-gui/
 */
#input-container {
  position: absolute;
  bottom: 17px;
  width: 100%;
  text-align: center;
}

.input-component {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 6px 0px 6px;
}
input {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #e9e8e7;
  border: 6px solid #e9e8e7;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  padding: 9px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #e9e8e7;
  border: 6px solid #e9e8e7;
}
input[type="checkbox"]:checked {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background-color: #9a9593;
}
input.submit {
  background-color: none;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  /* typeface cut-off at larger sizes */
  width: 100%;
  height: 48px;
  padding: 9px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #e9e8e7;
  border: none;
  outline: none;
  display: inline-block;
}



/*  ------------------------------------------------------------------------
 *
 *  Media Queries
 *
 *  ------------------------------------------------------------------------
 *
 *  mostly borrowed from
 *  Dapper
 *  0.1.0
 *
 *  Flip Steward (@flipstewart)
 *
 *  Licensed under The MIT License
 *  http://opensource.org/licenses/MIT
 *
 */

/*
 *  iPhone & iPod Touch Portrait
 */
@media screen and (width: 320px), (height: 480px) {
  #text-container {
    visibility: hidden;
  }
  #manual {
    visibility: hidden;
  }
  #input-container {
    visibility: hidden;
  }
}

/*
 *  iPhone & iPod Touch Landscape
 */
@media screen and (width: 480px), (height: 320px) {
  #text-container {
    visibility: hidden;
  }
  #manual {
    visibility: hidden;
  }
  #input-container {
    visibility: hidden;
  }
}
